doctype html
- min = (dev  ? '' : '.min')
html(lang=opt.lang)
	head
		title= opt.title + (dev  ? ' :: R&D' : '')
		meta(charset=opt.charset)
		meta(name="viewport", content="width=device-width")
		meta(name="description" content=opt.desc)
		link(rel="stylesheet", href= opt.css + min + '.css?' + opt.version, media="screen")
		link(rel="shortcut icon" type="image/x-icon" href="css/images/favicon.ico")
		// [if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]
	body(style='padding-top:30px').sans
		#header
			div.navbar.navbar-inverse.navbar-fixed-top
				div.container-fluid
					div.navbar-header
						button.navbar-toggle(type="button" data-toggle="collapse" data-target="#ilm-navbar-collapse-1")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a#pagelogo.ilm-pagelogo.navbar-brand(href="/") Ilm
					#ilm-navbar-collapse-1.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li.dropdown
								a#ilm-seaded.dropdown-toggle(href="#" data-toggle="dropdown") Seaded
								div#ilm-seaded-dropdown.dropdown-menu(style="padding: 15px")
							li.dropdown
								a#ilm-viited.dropdown-toggle(href="#" data-toggle="dropdown") Viited
								div.ilm-viited-dropdown.dropdown-menu(style="padding: 15px")
							li.dropdown
								a.dropdown-toggle(href="#" data-toggle="dropdown") Info
								ul.dropdown-menu
									li: a(href="http://balticroads.net/") Maanteeinfo
									li: a(href="http://ilmateenistus.ee/") Ilmateenistus
									li: a(href="http://energia.emu.ee/") Maaülikool
									li: a(href="http://yr.no/") Yr
									li: a(href="http://windguru.cz/") Windguru
									li.divider
									li: a(href="http://jquery.com/") JQuery
									li: a(href="http://highcharts.com/") Highcharts
									li: a(href="http://getbootstrap.com/") Bootstrap
									li.divider
									li: a(href=opt.giturl) Projekt GitHubis
		#backgr.ilm-backgr: img(src="css/images/ranna-001.jpg" alt="Peipsi pilt")
		#bghide.ilm-bghide
		#dots.ilm-dots
		#sisu.ilm-sisu.nopadding
			.container-fluid.col-lg-12
				div.menu.col-lg-5.col-sm-6.col-xs-12
					#menu-container
				div.chart.col-lg-7.col-sm-6.col-xs-12
					#container.chart-container.col-lg-12
		#popup.ilm-popup.panel.panel-primary(style="display:none;")
			#popup_in.panel-heading
				b.panel-title
					a#sl.ilm-sl(href="#" onclick="return ilm.Popup.render();") Sulge
			#lingid.panel-body
		#ilm-modal.modal.ilm-modal.fade(aria-hidden="true" role="dialog")
			.modal-dialog.modal-lg(role="document")
				.modal-content
					.modal-header
						button.close(type="button" data-dismiss="modal" aria-label="Sulge")
							span(aria-hidden="true") &times;
						h5.modal-title.popup-title Pealkiri
					.modal-body
						.container-fluid.popup-sisu Oodake, laadin sisu ...
		script(src= opt.contrib + min + '.js')
		script(src= opt.js + min + '.js?' + opt.version)
		script(async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKPcJDwBUmu-xio9gPQsi-FjWtY_9XQmg&callback=ilm.loadMap")

